@model HRMS_FinalProject.Models.Company

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/partial_Layout.cshtml";
}

<h1>Company Details</h1>
<hr />

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h4>Company Information</h4>
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.EstablishedDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EstablishedDate)
            </dd>
        </dl>

        <div class="mt-3">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>

        </div>
    </div>
</div>
