@model IEnumerable<HRMS_FinalProject.Models.Employee>

@{
    ViewData["Title"] = "Employee List";
    Layout = "~/Areas/Admin/Views/Shared/partial_Layout.cshtml";

}
<br />
<div class="container mt-5">
    <h1 class="text-center">Employee List</h1>

    <p class="text-center">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

    <table class="table table-bordered table-hover mt-3 text-center">
        <thead class="thead-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.Phone)</th>
                <th>@Html.DisplayNameFor(model => model.HireDate)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => item.HireDate)</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.EmployeeID" class="btn btn-info btn-sm">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.EmployeeID" class="btn btn-info btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.EmployeeID" class="btn btn-info btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
