@model IEnumerable<HRMS_FinalProject.Models.Resignation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/partial_Layout.cshtml";
}
<br />
<br />
<br />
<div class="container mt-5">
    <h1 class="text-center">Resignation Info</h1> 

    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ResignationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reason)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ResignationDate.ToShortDateString()) 
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reason)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ResignationId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ResignationId">Details</a> |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .table-responsive {
        margin-top: 20px; 
        margin-bottom: 20px;
    }
</style>
